@media screen and (max-width:1140px) and (min-width:769px) {

    html {
        font-size: .9rem
    }
    img {
        max-width: 90%;
    }

    /************************************************
        UTILITIES
    ************************************************/

    /* LAYOUT */

    .container {
        width: 100%;
    }
    .col {
        padding-left: .95rem;
        padding-right: .95rem;
    }

}@media screen and (max-width:768px) {

    html {
        font-size: .9rem
    }
    img {
        max-width: 80%;
    }

    /************************************************
        UTILITIES
    ************************************************/

    /* LAYOUT */

    .container {
        width: 100%;
    }
    .col {
        padding-left: .75rem;
        padding-right: .75rem;
    }

}

@media screen and (max-width:480px) {

    html {
        font-size: 1.3rem
    }
    
    img {
        max-width: 100%;
    }

    /************************************************
        UTILITIES
    ************************************************/

    /* LAYOUT */
    .container {
        padding: 0 25px;
    }
    .row {
        flex-wrap: wrap;
    }
    /************************************************
    SITE SECTIONS
    ************************************************/
    .lessons .col {
        width: 100%;
        padding-bottom: 35px;
    }
    .steps {
        margin: 0;
    }
    .steps .col {
        width: 100%;
        padding-bottom: 35px;
    }
    .why-us {
        background-color: #212121;
        padding-top: 35px;
        margin: 0;
    }
    .why-us .col-left {
        width: 100%;
        padding-bottom: 35px;
    }
    
    .why-us .col-right {
        width: 100%;
        padding-bottom: 35px;
    }


}




